[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
numpy = "*"
torch = "*"
imbalanced-learn = "*"

[dev-packages]
autopep8 = "*"
pdoc = "*"

[requires]
python_version = "3.9"
